/*
GENERAL
*/


* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1rem;
  color: #4d4d4d;
  -webkit-font-smoothing: antialiased;
  background:  #f8f8f8;
  border-top: 3px solid #29abe2;
}

.container {
  margin: 0px auto;
  width: 620px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
a {
  color: #29abe2;
}

h2,
h3 {
  color: #29abe2;
}

h1 {
font-family: "Montserrat", Arial, sans-serif;
}
h1 a {
  color: #4d4d4d;
  text-decoration: none;
}
h1 span {
  color: #29abe2;
}

header {
  display: table;
  width: 100%;
    padding: 20px 0 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}
header h1,
header .search-engine-wrapper {
  display: table-cell;
}
header .search-engine-wrapper {
  width: 50%;
}