.home-header {
  border-bottom: none;
}
.home-intro {
  height: 430px;
  margin-bottom: 30px;
  background: url(../img/home-intro.jpg) center 0 no-repeat;
}
.home-intro-content {
  padding-top: 40px;
} 
.home-intro h2 {
  margin-bottom: 20px;
  color: #4d4d4d;
  line-height: 1.2;
}
.home-intro h2 span {
  display: block;
  font-weight: normal;
}
.home-intro a {
  padding: 5px 10px;
  background-color: #29abe2;
  color: #fff;
  text-decoration: none;
}
.home-intro a + a {
  margin-left: 30px;
}
