/*header with search engine*/
.search-engine-wrapper {

}
.search-engine-wrapper input[type="text"] {
  padding: 5px;
  width: calc(100% - 105px);
}

.search-engine-wrapper input[type="submit"] {
  padding: 5px;
  color: #fff;
  font-size: 0.8rem;
  background-color: #29abe2;
  border: none;
  cursor: pointer;  
}