/*
CONTRIBUTIONS
*/

.contribution-tools {
  position: fixed;
  height: 100vh;
  width: 32px;
  padding-top: 45px;
  margin-left: -50px;
}
.contribution-tools a {
  display: block;
  text-indent: -9999px;
  opacity: .3;
  transition: opacity 0.3s;
}
.contribution-tools a:hover {
  opacity: .8;
}
.github-link,
.proseio-link,
.help-link {
  width: 20px;
  height: 20px;
  margin: 0 auto;
}
.github-link {
  margin-bottom: 5px;
  background: url(../img/ico-github.svg) 0 0 no-repeat;
  background-size: 16px;
}
.proseio-link {
  margin-bottom: 5px;
  background: url(../img/ico-pencil.svg) 0 0 no-repeat;
  background-size: 16px;
}
.help-link {
  background: url(../img/ico-question.svg) 0 0 no-repeat;
  background-size: 16px;
}
.page-top {
  position: absolute;
  bottom: 50px;
  width: 32px;
  height: 32px;
  background: url(../img/ico-top.svg) 0 no-repeat;
  background-size: 32px;
}

#parentRepo {
  padding-top: 10px;
  text-align: center;
}

#contribution {
  font-family: "Sentinel SSm A", "Sentinel SSm B", Palatino Linotype, Book Antiqua, Palatino, serif;
  content: "medium";
  box-sizing: border-box;
  padding: 0px;
  margin: 19px 0px;
  letter-spacing: 0.01rem;
  color: rgba(0,0,0,0.7);
}
#contribution h1,
#contribution h2,
#contribution h3 {
  font-family: 'Quattrocento Sans', sans-serif;
}
#contribution h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-top: 0;
  margin-bottom: 1.75rem;
}
#contribution h2 {
  font-size: 1.9375rem;
  line-height: 1.75rem;
  margin-top: 3.5rem;
  margin-bottom: 1.75rem;
}
#contribution h3 {
  font-size: 1.1875rem;
  line-height: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
#contribution h4 {
  font-size: 1.1875rem;
  line-height: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
#contribution p,
#contribution ul,
#contribution ol,
#contribution pre,
#contribution table{
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  font-size: 1.188rem;
  line-height: 1.473684211em;
}
#contribution ul {
  margin-left: 20px;
}
#contribution ul ul {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 36px;
}
#contribution li {
  position: relative;
  padding-left: 20px;
  list-style-type: none;  
}
#contribution li:before {
  content: '>';
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;  
}
#contribution img {
  display: block;
  vertical-align: middle;
  padding: 4px;
  max-width: 605px;
  margin: 0.75rem 0;
  line-height: 1.42857143;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
#contribution a {
  color: #4d4d4d;
  text-decoration: none;
  border-bottom: 1px solid #4d4d4d;
}
#contribution a:hover,
#contribution a:focus {
  color: #29abe2;
  border-bottom-color: #29abe2;
}

#contribution blockquote {
  margin: 0 2em;
  padding-left: 1em;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: italic;
  border-left: 5px solid #29abe2;
}
/*
#contribution blockquote p {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: italic;
  border-left: 3px solid rgba(0,0,0,0.8);
  padding-left: 20px;
  margin-left: -23px;
  padding-bottom: 3px;
}
*/

/*
GITHUB MARKDOWN RE-DESIGN
*/
#contribution table[data-table-type="yaml-metadata"],
#contribution svg.octicon {
  display: none;
}

/*
TAGS
*/
.tags,
.tags ul {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-size: 13px;
  color: rgba(0,0,0,0.44);
  letter-spacing: 0;
}
.tags ul {
  list-style: outside none none;
  margin: 5px 0;
  padding: 0;
}
.tags li {
  display: inline-block;
  float: left;
  background: #fafafa;
  border-radius: 2px;
  border: 1px solid #f0f0f0;
  padding: 3px 10px;
  margin-right: 8px;
  margin-bottom: 8px;
}
