
/*
REPOSITORIES LIST
*/
#gh-crew-list ul {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
#gh-crew-list li {
  position: relative;
  width: 30%;
  margin-bottom: 30px;
  padding: 10px;
  line-height: 1;
  list-style-type: none;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}
#gh-crew-list li:not(:nth-child(3n+1)) {
  margin-left: 5%;
}
#gh-crew-list a {
display: table;
}
#gh-crew-list h3 {
  text-transform: capitalize;
}
#gh-crew-list p {
  padding-top: 30px;
}