/* 
404
*/
#error-404 {
  font-family: sans-serif;
  color: #444;
  text-align: center;
  margin: 0px auto;
  margin-top: 5rem;
  max-width: 620px !important;
}
#error-404 h1,
#error-404 h2 {
  text-align: left;
  margin: 0px;
}
#error-404 h1 {
  font-weight: 800;
  font-size: 1.5rem;
}
#error-404 h2 {
  font-weight: 100;
  font-size: 1rem;
}
