/*
GENERAL
*/
body {
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  font-size: 1rem;
  color: #6c6c6c;
  -webkit-font-smoothing: antialiased;
  background:  #f8f8f8;
}

.container {
  margin: 0px auto;
  width: 620px;
}

header {
  padding: 20px 0 30px;
  border-bottom: 1px solid #000;
}

h1,
h2,
h3 {
  color: #9b4e4e;
}

/*
CONTRIBUTIONS LIST
*/
header h1 {
  text-align: center;
}
/*header with search engine*/
.search-engine-wrapper {

}
.search-engine-wrapper input[type="text"] {
  padding: 5px;
  width: calc(100% - 105px);
}
