/* Reset just the minimum, improve with time */

body {
  margin: 0;
}

/*Titles*/
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  margin-bottom: 0;
}

/*Forms*/
fieldset {
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  border: none;
}

/*Lists*/
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
